.ProfessorGroup {
  display: flex;
  justify-content: space-evenly;
}

.ProfDetail {
  display: flex;
  justify-content: space-evenly;
}

.ProfessorDetail {
  margin: 0.5em;
}

.ListofProfessors {
  margin: 0.5em;
}
